.wrapper_middlePost {
    margin: 0 auto;
    padding: 15px 20px;
    width: 400px;
}

.middlePost_element {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middlePost_content {
    width: 400px;
}

.middlePost_date {
    font-size: 16px;
    text-align: left;
    color: gray;
}

.middlePost_title {
    width: 350px;
    text-align: left;
    font-size: 16px;
}

.middlePost_icon {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.view_middleImage {
    width: 360px;
    height: 200px;
}

.middlePost_reaction {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative
}

.middlePost_reaction:before {
    position: absolute;
    content: "";
    width: 360px;
    height: 1px;
    background: #FFF;
    bottom: -10px;
}


.reaction_element_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reaction_element_biLike {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reaction_element_biLike svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.reaction_element_biLike svg:hover {
    fill: green;
}

.count_like {
    margin: 0;
    font-size: 18px;
}

.reaction_element_disLike {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reaction_element_disLike svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.reaction_element_disLike svg:hover {
    fill: red;
}

.count_like {
    margin: 0;
    font-size: 18px;
}

.markandmore_element {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookmark_element svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bookmark_element svg:hover {
    fill: yellow;
}

.other_element svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.other_element svg:hover {
    fill: yellow;
}

