.wrapper_footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer_element {
    margin: 25px 0;
    border-top: 1px solid #000;
    padding-top: 25px;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

