.largePost_card {
    padding: 10px 0;
    max-width: 736px;
}

.largePost_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.largePost_content {
    display: flex;
    flex-direction: column;
}

.largePost_date {
    width: 110px;
    font-size: 14px;
    font-weight: 400px;
    text-align: left;
    color: #8D8E97;
}

.largePost_title {
    padding-top: 8px;
    max-width: 450px;
    font-size: 32px;
    text-align: left;
    color: #313037;
}

.largePost_text {
    padding-top: 24px;
    max-width: 450px;
    font-size: 16px;
    text-align: left;
    color: #8D8E97;
}

.largePost_icon img {
    width: 256px;
    height: 244px;
}

.largePost_reaction {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
}

.reaction_element_list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 40px;
}

.btn_reaction {
    border: none;
    background-color: #fff;
}

.reaction_element_biLike {
    display: flex;
    flex-direction: row;
}

.reaction_element_biLike svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.reaction_element_biLike svg:hover {
    fill: green;
}

.count_like {
    padding-left: 10px;
    text-align: left;
    width: 50px;
    font-size: 20px;
}

.reaction_element_disLike {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.reaction_element_disLike svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.reaction_element_disLike svg:hover {
    fill: red;
}

.markandmore_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.bookmark_element svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.bookmark_element svg:hover {
    fill: rgb(27, 3, 132);
}

.other_element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.other_element svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.other_element svg:hover {
    fill: rgb(27, 3, 132);
}
